@media screen and (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  
    nav {
      display: block !important; /* Ensure nav is always visible on large screens */
    }
  
    nav a {
      margin: 0 1rem;
    }
  
    .gallery {
      text-align: center;
    }
  
    .gallery figure {
      width: 30%;
    }
  
    main {
      max-width: 80%;
    }
  }